/**
 * border radius
 */

.btn,
.jumbotron,
.nav :hover {
    border-radius: 0px;
}

/* cart badge */

.cart-badge,
.cart-badge:hover {
    border-radius: 50%;
    padding: 2px;
    font-size: 12px;
    font-style: italic;
    background: #000;
}

.card-header {
    font-size: 18px;
    font-style: bold;
    font-weight: bolder;
    background-color: #62c7e3;
}
/**
 * single product page - product name
 */

.name {
    background: indigo;
    color: #fff;
    font-weight: bold;
}

/* black shade form 10-1 */
.black-10 {
    background: #f2f2f2;
}
.black-9 {
    background: #e6e6e6;
}
.black-8 {
    background: #d9d9d9;
}
.black-7 {
    background: #cccccc;
}
.black-6 {
    background: #bfbfbf;
}
.black-5 {
    background: #b3b3b3;
}

/**
 * product image on card
 */

.product-img {
    min-height: 100px;
    max-width: 500px;
}

.jumbotron h2 {
    margin-top: -30px;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 0px;
    }
}

/**
 * jumbotron animation
 */

.jumbotron {
    height: 200px;
    color: #fff;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

input.form-control, textarea.form-control {
  font-style: italic;
  /* font-size: 10px; */
}

label {
  font-weight: bold;
}

p.moment {
  font-size: 12px;
  font-style: italic;
  text-align: right;
}

.faded {
  background-image: linear-gradient(to top, #e7e7e7 0%, #ffffff 100%);
}

/* css for map */
.mapContainer {
  width: 50%;
  max-width: 800px;
}

#map {
  height: 50vh;
  margin-bottom: 10px;
  display: none;
}

#locationList .card {
  padding: 10px;
}

#toast-container {
  top: 50%;
  bottom: unset;
}

.toast {
  background-color: rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 768px) {
  .mapContainer {
    width: 80%;
  }
}

/* disqus styling */
.article-container {
  padding-top: 50px;
  width: 60%;
  margin: auto;
}

.article-body {
  padding: 25px 0px 50px 0px;
}

/* footer */
